html * {
  font-family: "Nunito Sans";
}

body,
html,
#root {
  height: 100%;
  background-color: #f7f8ff;
  overflow-x: hidden;
}

.flex-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: auto;
  height: 100%;
  flex-grow: 1;
  width: 100%;
}

main button {
  margin: 0;
  letter-spacing: 0;
}

.anim {
  transition: all 0.4s ease-out;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
